@model List<RequestViewModel>
    @{
    ViewData["Title"] = "Request List";
    }

    <h2>Asset List</h2>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>ID Request</th>
                <th>ID Asset</th>
                <th>ID PIC</th>
                <th>Approval</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model )
    {
            <tr>
                <td>@item.Id</td>
                <td>@item.IdAsset</td>
                <td>@item.IdPic</td>
                <td>@item.Approval</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-success">View</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>

            </tr>
    }
        </tbody>
    </table>

    <a asp-action="Add" class="btn btn-sm btn-primary">Add</a>

