@model List<UsersViewModel>
    @{
    ViewData["Title"] = "Users List";
    }

    <h2>Users List</h2>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Send Date</th>
                <th>Id History</th>
                <th>Id Audit</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model )
    {
            <tr>
                <td>@item.Id</td>
                <td>@item.SendDate</td>
                <td>@item.IdHistory </td>
                <td>@item.IdAudit</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-success">View</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>

            </tr>
    }
        </tbody>
    </table>

    <a asp-action="Add" class="btn btn-sm btn-primary">Add</a>

